<div class="card">
  <form action="" method="post" (ngSubmit)="onSubmit()" #restaurantAddForm="ngForm">
    <div class="card-header">
      <strong>添加餐馆</strong>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="name">名称</label>
        <input class="form-control" autofocus="autofocus" required [(ngModel)]="model.Name" id="Name" name="Name" type="text" #spy>
      </div>
      <div class="form-group">
        <label for="Description">简介</label>
        <textarea class="form-control" [(ngModel)]="model.Description" id="Description" name="Description" ></textarea>
      </div>
      <div class="form-group">
        <label for="address">地址</label>
        <input class="form-control" [(ngModel)]="model.Address" id="Address" name="Address" type="text" #spy>
      </div>
      <div class="form-group">
        <label for="tel">电话</label>
        <input class="form-control" [(ngModel)]="model.Tel" id="Tel" name="Tel" type="text" #spy>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" type="submit" [disabled]="!restaurantAddForm.form.valid">
        <i class="fa fa-dot-circle-o"></i> 保存</button>
      <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> 重置</button>
    </div>
  </form>
</div>
