<div class="card">
  <form action="" method="post" (ngSubmit)="onSubmit()" #restaurantAddForm="ngForm">
    <div class="card-header">
      <strong>添加餐馆</strong>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="name">名称</label>
        <input class="form-control" required [(ngModel)]="model.name" id="name" name="name" placeholder="请填写名称" type="text" #spy>
      </div>
      <div class="form-group">
        <label for="address">地址</label>
        <input class="form-control" required [(ngModel)]="model.address" id="address" name="address" placeholder="请填写地址" type="text" #spy>
      </div>
      <div class="form-group">
        <label for="tel">电话</label>
        <input class="form-control" required [(ngModel)]="model.tel" id="tel" name="tel" placeholder="请填写电话" type="text" #spy>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" type="submit" [disabled]="!restaurantAddForm.form.valid">
        <i class="fa fa-dot-circle-o"></i> 保存</button>
      <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> 重置</button>
    </div>
  </form>
</div>
